.caret.down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px dashed;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

.caret.up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px dashed;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

h2 {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}
